body
{
	background:#E9D5CA;
}

	.login_div1 , .login_div2
	{
		background:#827397;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: #4D4C7D;
border-radius: 10px;
border-top: 10px solid #363062;
padding: 10px;
float: none;
text-align: left;
}
